/* ===== RESET ===== */

* {
    margin: 0;
    background: rgb(224, 102, 102);
    font-family: "Poppins", sans-serif;
}


/* ===== GENERAL ===== */
.title-page {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* ===== BUTTON ===== */

.bouton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px
}

#cyclesBreak,
#cyclesLongBreak,
#cyclesWork {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 500px;
    border: 1px solid white;
    color: black;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#cyclesBreak:hover,
#cyclesLongBreak:hover,
#cyclesWork:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 500px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: white;
    align-items: center;
    color: black;
}

#cyclesBreak.active,
#cyclesLongBreak.active,
#cyclesWork.active {
    background-color: white;
    color: black;
}


#btn-play,
#btn-pause,
.button-save {
    color: black;
    background-color: white;
    border-radius: 500px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: white;
}

#btn-play:hover,
#btn-pause:hover,
.button-save:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 500px;
    border: 1px solid white;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.resetStorage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
    color: black;
    background-color: rgb(255, 58, 58);
    border-radius: 500px;
    padding: 0 22px;
    height: 30px;
    cursor: pointer;
}

.resetStorage:hover {
    border: none;
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

.btn-reset,
.btn-settings {
    border: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.active {
    background-color: purple;
    color: white;
}



/* ==================== */

.timer-pomodoro {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.phases {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ===== MODAL ===== */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

@keyframes slideDown {
    0% {
        transform: translateY(-35%);
        opacity: 0.2;
    }

    20% {
        transform: translateY(-30%);
        opacity: 0.4;
    }

    30% {
        transform: translateY(-25%);
        opacity: 0.6;
    }

    40% {
        transform: translateY(-20%);
        opacity: 0.8;
    }
}

.modal.show {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.show .modal-content {
    animation: slideDown 0.5s ease;
    transform: translateY(0%);
    opacity: 1;
}

.modal-content {
    border: 10px solid white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    opacity: 0;
}

.modal-title {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.top-modal {
    display: flex;
    flex-direction: initial;
    align-items: center;
}



.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#time-settings {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text-before-modification {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;

}

.text-modification {
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f5f2f2;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.text-modification:hover {
    background-color: #ff8560;
}

/* ===== PROGRESS BAR ===== */

.cercle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.cercle {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
}


.number-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
}

/* ===== DISPLAY VARIABLES ===== */


.hide {
    display: none;
}

.show {
    display: block;
}



/* ===== MEDIA QUERIES ===== */


/* ===== PHONE ===== */

@media screen and (max-width: 768px) {

    * {
        background-color: rgb(224, 102, 102);
    }


    .phases {
        font-size: 12px;
        width: 50%;
        gap: 20px;
    }


    .modal-title {
        font-size: 20px;
        width: 250px;
    }


    .text-before-modification {
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
    }

    .close {
        font-size: 25px;
        margin-left: 15px;
    }

    .text-before-modification {
        width: 120px;
    }

    .text-modification {
        width: 100%;
    }

    .determinate {
        display: none;
    }

    #cyclesLongBreak {
        width: 80px;
        font-size: 9px;
    }


}

/* ===== TABLET ===== */


@media screen and (min-width: 769px) and (max-width: 1024px) {

    * {
        background-color: rgb(224, 102, 102);
    }

    .phases {
        font-size: 16px;
        width: 40%;
        gap: 20px;
    }

    .modal-title {
        font-size: 30px;
        width: 300px;
    }


    .text-before-modification {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }


}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1025px) {

    .phases {
        font-size: 14px;
        width: 40%;
    }

    .modal-title {
        font-size: 25px;
    }
}


/* ===== ANIMATION ===== */


.progress {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.determinate {
    width: 0%;
    height: 4px;
    background-color: green;
}


/* ===== TOGGLE BUTTON ===== */

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.toggle-text {
    margin-right: 5px;
}

.toggle-wrapper {
    align-items: center;
    margin-right: 10px;
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px; 
    height: 20px;
    margin-right: 40px;
}

.toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.toggle-label:before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px; 
    left: 3px; 
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-label {
    background-color: rgb(255, 58, 58);
}

.toggle-switch input[type="checkbox"]:checked + .toggle-label:before {
    transform: translateX(10px); 
}



/* ===== VOLUME ===== */
.volume-control {
    display: flex;
    align-items: center;
}

#volume-slider {
    width: 100px; 
    margin-left: 10px;
}

.volume-control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.volume-wrapper {
    align-items: center;
    margin-right: 10px; 
}


#volume-percentage {
    margin-left: 5px; 
}

