/* ===== RESET ===== */

* {
    margin: 0;
    background: rgb(224, 102, 102);
    font-family: "Poppins", sans-serif;
}


/* ===== GENERAL ===== */
.title-page {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



/* ===== BUTTON ===== */

.bouton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px
}

#cyclesBreak,
#cyclesLongBreak,
#cyclesWork {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 500px;
    border: 1px solid white;
    color: black;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#cyclesBreak:hover,
#cyclesLongBreak:hover,
#cyclesWork:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 500px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: white;
    align-items: center;
    color: black;
}

#cyclesBreak.active,
#cyclesLongBreak.active,
#cyclesWork.active {
    background-color: white;
    color: black;
}


#btn-play,
#btn-pause,
.button-save {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 500px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: white;
    align-items: center;
}

#btn-play:hover,
#btn-pause:hover,
.button-save:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 500px;
    border: 1px solid white;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.button-save {
    margin-top: 20px;
}

.btn-reset,
.btn-settings {
    border: none;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.active {
    background-color: purple;
    color: white;
}



/* ==================== */

.timer-pomodoro {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.phases {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ===== MODAL ===== */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    border: 10px solid white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}

.modal-title {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.top-modal {
    display: flex;
    flex-direction: initial;
    align-items: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#time-settings {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text-before-modification {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;

}

.text-modification {
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f5f2f2;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.text-modification:hover {
    background-color: #ff5722;
}


/* ===== PROGRESS BAR ===== */

.cercle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.cercle {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
}


.number-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
}

/* ===== DISPLAY VARIABLES ===== */


.hide {
    display: none;
}

.show {
    display: block;
}



/* ===== MEDIA QUERIES ===== */


/* ===== PHONE ===== */

@media screen and (max-width: 768px) {

    * {
        background-color: yellowgreen;
    }


    .phases {
        font-size: 12px;
        width: 50%;
        gap: 20px;
    }


    .modal-title {
        font-size: 20px;
        width: 250px;
    }


    .text-before-modification {
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
    }

    .close {
        font-size: 25px;
        margin-left: 15px;
    }

    .text-before-modification {
        width: 120px;
    }

    .text-modification {
        width: 100%;
    }

    #cyclesLongBreak {
        width: 80px;
        font-size: 9px;
    }
}

/* ===== TABLET ===== */


@media screen and (min-width: 769px) and (max-width: 1024px) {

    * {
        background-color: green;
    }

    .phases {
        font-size: 16px;
        width: 40%;
        gap: 20px;
    }

    .modal-title {
        font-size: 30px;
        width: 300px;
    }


    .text-before-modification {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1025px) {

    .phases {
        font-size: 14px;
        width: 40%;
    }

    .modal-title {
        font-size: 25px;
    }
}


/* ===== ANIMATION ===== */


.progress {
    background-color: purple;
    display: flex;
    justify-content: flex-start; /* Aligner le contenu à gauche */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.determinate {
    width: 0%;
    height: 4px;
    background-color: #26a69a;
}